html {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}
/* Header */
header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.name {
  font-size: 1.5rem;
}

.name .colmar {
  color: black;
}

.name .academy {
  color: darkgray;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: .25rem;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

ul li {
  padding-left: 1rem;
}

nav ul a {
  text-decoration: none;
  color: black;
}

/* Banner */
.banner {
  display: flex;
  width: 100%;
  background-color: lightgray;
}

.banner-image {
  margin: 2rem 1.5rem;
  width: 60%;
}

.banner-image img {
  width: 100%;
}

.feature {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  line-height: 1.25;
}

.feature-text {
  width: 85%;
}

.feature h1 {
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.feature h3 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.start {
  width: 80%;
  background-color: black;
  padding: 1rem;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

/* Articles */
.articles {
  display: flex;
  width: 100%;
  background-color: #fff;
}

.articles .main-image {
  margin: 1rem 1.5rem;
  width: 60%;
}

.articles .main-image img {
  width: 100%;
  padding-top: 1rem;
}

.article-image-text {
  padding-right: 2rem;
}

.article-image-text h2 {
  font-size: 2.75rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.article-image-text h5 {
  margin-top: 1rem;
}

.article-list {
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 1rem;
}

.article-list .article {
  width: 100%;
  display: flex;
}

.small-image-container {
  width: 35%;
  padding: 1rem;
}

.small-image-container img {
  width: 100%;
}

#highlighted-article {
  background-color: lightgray;
}

.article-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
  padding-left: .5rem;
  width: 65%;
}

.article-description h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.article-description p {
  margin-bottom: .5rem;
}

.article-description a {
  text-decoration: none;
}

/* Majors */
.majors-container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.majors-container h2 {
  font-size: 2.75rem;
  margin: 2rem 0;
  font-weight: bold;
}

.majors-grid {
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.major {
  background-color: #fff;
  margin: 1rem;
  width: 25%;
}

.major img {
  width: 100%;
}

.major-description {
  height: 100%;
  padding: 1rem;
  line-height: 1.5;
}

.major-description h4 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: .5rem;
}

.major-description h5 {
  padding-bottom: .5rem;
}

.major-description p {
  padding-bottom: 1rem;
}

/* Exhibit Video */

.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-section h2 {
  font-size: 2.75rem;
  margin: 2rem 0;
  font-weight: bold;

}

.exhibit {
  display: flex;
  width: 100%;
  background-color: #fff;
}

.exhibit .main-video {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
  width: 60%;
}

.main-video video {
  width: 100%;
}

.video-text {
  padding-right: 2rem;
  line-height: 1.4;
}

.video-text h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.video-text h5 {
  margin-top: 1rem;
}

.video-article-list {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.video-article-list .video-article {
  width: 100%;
  display: flex;
}

.video-image-container {
  width: 35%;
  padding: 1rem;
}

.video-image-container img {
  width: 100%;
}

#highlighted-video-article {
  background-color: lightgray;
}

.video-article-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
  padding-left: .5rem;
  width: 65%;
}

.video-article-description h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.video-article-description p {
  margin-bottom: .5rem;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding: 1rem 1.5rem;
  font-size: .75rem;
  margin-bottom: 1rem;
}

footer .privacy {
  display: flex;
}

footer .privacy a {
  padding-left: .5rem;
  text-decoration: none;
}
